<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div *ngIf="hero.id"><span>id: </span>{{hero.id}}</div>
  <form #heroForm="ngForm">
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" name="name" placeholder="name" required maxlength="10" #name="ngModel"/>
      </label>
    </div>
    <div *ngIf="name.errors">
      <small *ngIf="name.errors.required">
        The hero name is required.
      </small>
    </div>
    <div>
      <label>E-mail:
        <input [(ngModel)]="hero.email" name="email" placeholder="E-mail" email #email="ngModel"/>
      </label>
    </div>
    <div *ngIf="email.errors">
      <small *ngIf="email.errors.email">
        E-mail format error.
      </small>
    </div>
  </form>
  <div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()" [disabled]="heroForm.form.invalid">save</button>
  </div>
</div>
